<html>
<head>
  <meta charset="utf-8">
<title><%= title %></title>
</head>
<body style="margin:400px; border:2px solid black ;margin-top:10px">
<div style="margin:40px"><% include ./partials/header %>
<p style="color:green">this page is for helping user</p>
<% include ./partials/footer %></div>
</body>
</html>
